<md-dialog class="studyDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="cancel()" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
            <h2 flex="flex">Study List: {{listName}}</h2>

        </div>
    </md-toolbar>
    <md-dialog-content>
        <p layout layout-align="center" class="studyHint">
            The idea is to drag the cards that you answered correctly to the Left and drag the card you've answer wrong to the Right.
        </p>
        <div id="viewport">
            <ul class="stack" swing-stack>
                <li swing-card 
                swing-on-throwout="throwout(eventName, eventObject, card)" 
                ng-repeat="card in cards" class="flip active">
                    <div class="card" ng-class="{'flipped': flipped}" md-whiteframe="3">
                        <div class="front face" layout="column" layout-align="center center" layout-fill>
                            <md-button class="flip-btn md-primary"  ng-click="flipped = !flipped">
                                <span>{{!flipped ? 'show': 'hide'}}</span>
                            </md-button>
                            <span class="term">{{card.term}}</span>
                        </div>
                        <div class="back face" layout="column" layout-align="center center" layout-fill>
                            <p class="definition">{{card.definition}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </md-dialog-content>
</md-dialog>