<md-dialog class="studyDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="cancel()" class="md-icon-button">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
            <h2 flex="flex">Study List: {{listName}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <p layout layout-align="center" class="studyHint">
            The idea is to drag the cards that you answered correctly to the Left and drag the card you've answer wrong to the Right.
        </p>
        <div id="viewport">
            <ul class="stack" swing-stack swing-options="options">
                <li swing-card swing-on-throwout="throwout(eventName, eventObject, card)" swing-on-dragstart="dragStart(eventName, eventObject)" swing-on-dragend="dragEnd(eventName, eventObject)" ng-repeat="card in cards" class="flip" ng-class="{'last-card':$first}" ng-mouseover="clicked($event); $event.stopPropagation()">
                    <div class="card-container">
                        <div class="card" ng-class="{'flipped': flipped}" md-whiteframe="3">
                            <div class="front face" layout="column" layout-align="center center" layout-fill>
                                <span class="term">{{card.term}}</span>
                                <md-button class="flip-btn md-primary" ng-click="flipped = !flipped">
                                    <span>Flip</span>
                                </md-button>
                            </div>
                            <div class="back face" layout="column" layout-align="center center" layout-fill>
                                <p class="definition">{{card.definition}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </md-dialog-content>
</md-dialog>