html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

md-dialog.md-dialog-fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

md-icon svg {
  fill: inherit;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}



#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}


md-icon.avatar {
  width: 30px;
  height: 30px;
  padding: 10px;
  fill: #555;
}


/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

md-dialog-content {
    height: 100%;
    width: 100%;
}


/**
 * Flipcard styles and trasitions
 */

 #viewport {
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 #viewport li {
     list-style: none;
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
 }

.flip {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 10px;
    perspective: 800;
}

.flip .card.flipped {
    transform:rotatey(-180deg);
}

.flip .card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2), 1px 1px 1px rgba(0, 0, 0, .2);
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    transform-style: preserve-3d;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    cursor: default;
}

.flip .card .face {
    position: absolute;
    background: #FFF;
    backface-visibility: hidden;  /* W3C */
}

.flip .card .front {
    position: absolute;
}

.flip .card .back {
    transform:rotatey(-180deg);
}

.stack .flip-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #FFF;
}

.flip .card .term {
    font-size: 2em;
}

.flip .card .definition {
    font-size: 1.2em;
    margin: 0 15px;
}


.studyDialog .studyHint {
  font-size: 1.2em;
  padding: 10px;
}


.select-all-item {
    background: #EEE;
}

.empty-card-div {
    border-top: 1px solid #EEE;
    padding-top: 10px;
    font-size: 1.2em;
}

.stack .card-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFF;
}

.study-btn {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.stack .wrong .card {
  border-color: red;
}

.stack .correct .card{
  border-color: green;
}
